## Objectives

In this final part you will:

- Run the ETL process
- Extract bank and market cap data from the JSON file `bank_market_cap.json`
- Transform the market cap currency using the exchange rate data
- Load the transformed data into a seperate CSV

In [3]:
import glob
import pandas as pd
from datetime import datetime
import requests

In [4]:
# import urllib.request
# url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json'
# filename = 'bank_market_cap_1.json'
# urllib.request.urlretrieve(url, filename)

('bank_market_cap_1.json', <http.client.HTTPMessage at 0x1eec1c00df0>)

In [5]:
# import urllib.request
# url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json'
# filename = 'bank_market_cap_2.json'
# urllib.request.urlretrieve(url, filename)

('bank_market_cap_2.json', <http.client.HTTPMessage at 0x1eec4075be0>)

In [7]:
# url='https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv'
# filename='exchange_rates.csv'
# urllib.request.urlretrieve(url,filename)

('exchange_rates.csv', <http.client.HTTPMessage at 0x1eec3db6370>)

### Extract

In [8]:
def extract_from_json(file_to_process):
    dataframe = pd.read_json(file_to_process)
    return dataframe

In [9]:
def extract():
    extracted_data = pd.DataFrame(columns=['Name','Market Cap (US$ Billion)']) # create an empty data frame to hold extracted data
    
    #process all json files
    for jsonfile in glob.glob("*.json"):
        extracted_data = extracted_data.append(extract_from_json('C:/Users/mahmo/4. DE/Practice/bank_market_cap_1.json'), ignore_index=True)
    
    return extracted_data

In [13]:
df = pd.read_csv('exchange_rates.csv', index_col=0)
exchange_rate = df.loc['GBP', 'Rates']
exchange_rate

0.7323984208000001

### Transform

In [16]:
def transform(original_df):
    original_df['Market Cap (US$ Billion)'] = original_df['Market Cap (US$ Billion)'] * exchange_rate
    original_df['Market Cap (US$ Billion)'] = original_df['Market Cap (US$ Billion)'].round(3)
    original_df = original_df.rename(columns={'Market Cap (US$ Billion)': 'Market Cap (GBP$ Billion)'})
    return original_df

### Load

In [17]:
def load(data_to_load):
    data_to_load.to_csv('bank_market_cap_gbp.csv',index=False)

### Logging

In [18]:
def log(message):
    timestamp_format = '%Y-%h-%d-%H:%M:%S' # Year-Monthname-Day-Hour-Minute-Second
    now = datetime.now() # get current timestamp
    timestamp = now.strftime(timestamp_format)
    with open("logfile2.txt","a") as f:
        f.write(timestamp + ',' + message + '\n')

### ETL Process

In [19]:
log('ETL Job Started')

In [20]:
log("Extract phase Started")
extracted_data = extract()
log("Extract phase Ended")
extracted_data

                                        Name  Market Cap (US$ Billion)
0                             JPMorgan Chase                   390.934
1    Industrial and Commercial Bank of China                   345.214
2                            Bank of America                   325.331
3                                Wells Fargo                   308.013
4                    China Construction Bank                   257.399
..                                       ...                       ...
205                             Ping An Bank                    37.993
206                       Standard Chartered                    37.319
207                     United Overseas Bank                    35.128
208                                QNB Group                    33.560
209                              Bank Rakyat                    33.081

[210 rows x 2 columns]

In [21]:
log("Transform phase Started")
transformed_data = transform(extracted_data)
log("Transform phase Ended")
transformed_data

                                        Name  Market Cap (GBP$ Billion)
0                             JPMorgan Chase                    286.319
1    Industrial and Commercial Bank of China                    252.834
2                            Bank of America                    238.272
3                                Wells Fargo                    225.588
4                    China Construction Bank                    188.519
..                                       ...                        ...
205                             Ping An Bank                     27.826
206                       Standard Chartered                     27.332
207                     United Overseas Bank                     25.728
208                                QNB Group                     24.579
209                              Bank Rakyat                     24.228

[210 rows x 2 columns]

In [22]:
log("Load phase Started")
load(transformed_data)
log("Load phase Ended")

In [23]:
log("ETL Job Ended")